<div class="collapse" id="navbarToggleExternalContent">
  <div class="color-custom p-4 text-light">
    <h5 class="text-white h4 pb-2">Menu</h5>
    <div class="d-flex flex-column">
      <a href="/"
        class="text-light text-decoration-none p-1 pointer-event hover-effect"
        role="button">Dashboard</a>
      <a class="text-light text-decoration-none hover-effect p-1" role="button"
        >New Dashboard</a>
      <a class="text-light text-decoration-none hover-effect p-1" role="button"
        >User Manual / DO's & DON'Ts</a>
      <a href="/notification"
        class="text-light text-decoration-none hover-effect p-1"
        role="button">New Notification</a>
      <a class="text-light text-decoration-none hover-effect p-1" role="button"
        >Edit / View Notification</a>
    </div> </div> </div>
<nav class="navbar navbar-dark color-custom">
  <!-- <div class="d-flex align-items-center"> -->
    <div class="container-fluid">
      <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button></div>
    <div class="fw-bold text-light font-custom fs-3" style="margin-left: 205px 
    !important; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 
    #000, 1px 1px 0 #000; font-size: 2.5rem !important ;">CUSTOMER REQUEST
     MANAGEMENT SYSTEM + </div>
  <!-- </div> -->
</nav>
