<%- include('partials/head') %>
  <body> <%- include('partials/navbar') %>
      <!-- <div class="background-image"></div> -->
      <div class="container">
      <section class="hero">
          <h1 class="inner-container-header">Home Page</h1>
          <div class="if-container">
          <h2>Welcome to CRMS</h2>
          <p>A Modern Customer Request Management System</p>
          <a href="#" class="btn">Get Started</a>
          </div>
      </section></div>
      <div class="container-header">
      <section class="features">
        <div class="if-container">
          <h3>Key Features</h3>
          <div class="feature-card">
            <div class="icon">
              <i class="fas fa-cogs"></i></div>
            <h4>Customizable</h4>
            <p>CRMS allows you to customize and configure 
          the system to meet your specific needs.</p></div>
        <div class="feature-card"> <div class="icon">
          <i class="fas fa-chart-line"></i></div>
            <h4>Analytics</h4>
            <p>Track and analyze customer data to gain
         valuable insights for your business.</p></div>
          <div class="feature-card">
            <div class="icon">
              <i class="fas fa-user-circle"></i>
            </div>
            <h4>User Management</h4>
            <p>Easily manage user roles and 
              permissions within the CRMS platform.</p></div></div> 
            </section></div>
 <%- include('partials/script') %>
  </body> </html>